/* Normalized CSS */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  outline: none;
}

body,
input,
select,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: separate;
  border: none;
}

.container {
  width: 100%;
  margin: auto;
}

.main-btn {
  display: inline-block;
  border-radius: 1.5rem;
  height: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.main-btn > p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.secondary-btn {
  background-color: #e673a3;
}

.primary-btn {
  background-color: #ff2b85;
}

.red-btn {
  background-color: #d70f64;
}

.blue-btn {
  background-color: #1367e2;
}

.teal-btn {
  background-color: #1f4d5d;
}

.text-btn {
  border: 1px solid #ff2b85;
  background-color: #ffffff;
}

.text-btn > p {
  color: #ff2b85;
}

.clear-btn {
  padding: 0;
  height: auto;
}

.clear-btn > p {
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #006db8;
}

.white-btn {
  background-color: #ffffff;
}

.watch-btn > p {
  color: #ff2b85;
}

.section-wrapper-1 {
  padding: 0;
  padding-bottom: 1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.section-container-1 {
  background-color: #ffffff;
  border-radius: 1.5rem;
  margin: auto;
}

.section-container-1 > table:first-child {
  background-color: #ff2b85;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.section-container-1 > table:nth-child(2) {
  background-color: #f5dae5;
  border: 0.5px solid #cccccc;
  border-top: none;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.section-container-1 > table:nth-child(2) tr {
  background-color: #f5dae5;
}

.section-container-1 > table:nth-child(2) td {
  background-color: #ffffff;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.nav {
  height: 4rem;
  width: 100%;
  overflow: hidden;
}

.nav-logo {
  width: 50%;
  padding-left: 0.75rem;
}

.nav-logo > img {
  width: 120px;
}

.nav-action {
  width: 50%;
  padding-right: 0.75rem;
}

.nav-btn > img {
  height: 2rem;
  margin-left: 0.5rem;
}

.banner-image {
  margin-bottom: 2rem;
  padding: 1.25rem;
}

.banner-tag {
  width: 6rem;
  height: 2rem;
  background-color: #ffd271;
  border-radius: 1.5rem;
  border-bottom-left-radius: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ff2b85;
  font-weight: 500;
  text-align: center;
  line-height: 2rem;
  margin-top: calc((100vw - 56px * 2) * -0.636 - 1rem) !important;
}

.banner-image span[id='banner'] {
  display: block;
  background-image: url(https://images.unsplash.com/photo-1640622308069-4352d9b4dcc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover;
  width: 100% !important;
  height: calc((100vw - 56px * 2) * 0.636) !important;
  max-height: 374px;
  border-radius: 1.5rem;
}

.banner-image img[id='banner'] {
  display: none !important;
}

.banner-text {
  padding-bottom: 2rem;
}

.banner-text > p {
  text-align: center;
  color: #ff2b85;
  font-weight: 400;
}

.column-content-mobile td {
  width: 100%;
  padding: 0 1.25rem 1.25rem;
}

.column-content-mobile span[id='column'] {
  display: block;
  background-image: url(https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1271&q=80) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover;
  width: 100% !important;
  height: calc((100vw - 4rem)) !important;
  max-height: 588px;
  border-radius: 0.75rem;
}

.column-content-mobile img[id='column'] {
  display: none !important;
}

.column-content-mobile p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.column-content-mobile h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #ff2b85;
}

.column-content-mobile h4 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #ff2b85;
  margin-bottom: 0.75rem;
}

.column-content-mobile p > a {
  color: #1367e2;
  text-decoration-line: underline;
}

.column-content-desktop {
  display: none;
}

.column-more td {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

.section-wrapper-2 {
  max-width: 700px;
  margin: auto;
  background-color: #f5dae5;
  padding: 1.75rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 1.75rem;
  white-space: nowrap;
}

.card-title {
  margin-bottom: 1.75rem;
}

.card-sub-title {
  margin-bottom: 1.75rem;
}

.sub-title {
  text-align: center;
  margin-bottom: 1.75rem;
}

.sub-title > p {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}

.watch-now td {
  padding-top: 3rem;
  padding-bottom: 1.75rem;
}

.event-template-1-mobile {
  border-radius: 1.5rem;
}

.event-template-1-mobile .event-template-1-image > td {
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #ffffff;
}

.event-template-1-mobile span[id='event'] {
  display: block;
  background-image: url(https://images.unsplash.com/photo-1640622308069-4352d9b4dcc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=200&q=80) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover;
  width: 100% !important;
  height: calc((100vw - 2.5rem) * 0.66) !important;
  max-height: 330px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.event-template-1-mobile img[id='event'] {
  display: none !important;
}

.event-template-1-text table {
  width: 100%;
  padding: 1.25rem;
}

.event-template-1-text table:first-child {
  padding-bottom: 0;
}

.event-template-1-text table:last-child {
  padding-top: 0;
}

.event-template-1-mobile td > p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.event-template-1-mobile h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.event-template-1-mobile h4 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #ff2b85;
  margin-bottom: 0.75rem;
}

.event-template-1-mobile p > span {
  color: #1367e2;
  text-decoration-line: underline;
}

.event-template-1-desktop {
  display: none;
}

.card-content-wrapper table {
  padding: 0.75rem;
}

.card-content-action td {
  padding: 0.75rem;
  padding-top: 0;
}

.event-more td {
  padding-top: 0.75rem;
}

.event-template-2-mobile {
  background-color: #ffffff !important;
  border-radius: 2.5rem;
  margin-bottom: 2rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
}

.event-template-2-title img {
  max-height: 200px;
}

.event-template-2-box-bg {
  background-color: #d5dfe6;
  border-radius: 1.25rem;
}

.event-template-2-box td {
  width: 260px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.event-template-2-box td span {
  color: #ffffff;
  font-size: 1.25rem !important;
  font-weight: 500;
}

.event-template-2-box td img {
  max-height: 200px;
}

.event-template-2-box td h2 {
  text-align: center;
  color: #0c4b5e;
  font-size: 1.5rem;
  font-weight: 700;
}

.event-template-2-box td h3 {
  text-align: center;
  color: #ff2b85;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.event-template-2-box td p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.event-template-2-text h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}

.event-template-2-text h3 > span {
  color: #ff2b85;
}

.event-template-2-text p > span {
  color: #ff2b85;
}

.event-template-2-desktop {
  display: none;
}

.video-thumbnail {
  margin-bottom: 2rem;
  padding: 1.25rem;
}

.video-thumbnail span[id='video'] {
  display: block;
  background-image: url(https://images.unsplash.com/photo-1640622308069-4352d9b4dcc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover;
  width: 100% !important;
  height: calc((100vw - 56px * 2) * 0.636) !important;
  max-height: 374px;
}

.video-thumbnail img[id='video'] {
  display: none !important;
}

.video-thumbnail > p {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.video-thumbnail > p > span {
  color: #ff2b85;
}

.disclaimer p {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #333333;
  font-weight: 300;
}

.event-template-3-mobile {
  background-color: #ffffff;
  border-radius: 1.5rem;
  margin-bottom: 2rem !important;
}

.event-template-3-mobile .event-template-3-image > td {
  width: 100%;
  padding: 1.25rem;
  padding-bottom: 0;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.event-template-3-mobile span[id='event'] {
  display: block;
  background-image: url(https://whatsticker.online/stickers_asset/ws-pack-5325474inxKWP/c40e25397a2f2.webp) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain;
  width: 100% !important;
  height: calc((100vw - 6rem)) !important;
  max-height: 504px;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.event-template-3-mobile img[id='event'] {
  display: none !important;
}

.event-template-3-text table {
  width: 100%;
  padding: 1.25rem;
}

.event-template-3-text table:first-child {
  padding-bottom: 0;
}

.event-template-3-text table:last-child {
  padding-top: 0;
}

.event-template-3-mobile p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.event-template-3-mobile h2 {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ff2b85;
}

.event-template-3-mobile p > span {
  color: #1367e2;
  text-decoration-line: underline;
}

.event-template-3-mobile td > span {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #333333;
}

.event-template-3-desktop {
  display: none;
}

.section-wrapper-3 {
  padding: 1.75rem;
}

.primary-title {
  color: #ff2b85;
}

.section-wrapper-4 {
  padding: 0 1.75rem;
}

.news-template-1 {
  border: 1px solid #cccccc;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

.news-template-1 h2 {
  font-size: 1.25rem;
  color: #ff2b85;
  font-weight: 700;
}

.news-template-1 img {
  width: 150px;
  height: 150px;
}

.news-template-1-content {
  padding: 0 1rem;
  background-color: #ffffff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.news-template-1-action td {
  padding-top: 0.5rem;
}

.section-wrapper-5 {
  padding: 0 1.75rem;
}

.event-template-4-mobile {
  border-radius: 1.5rem;
  margin-bottom: 2rem !important;
}

.event-template-4-mobile .event-template-4-image > td {
  width: 100%;
  padding: 1.25rem;
  background-color: #1367e2;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.event-template-4-mobile span[id='event'] {
  display: block;
  background-image: url(https://whatsticker.online/stickers_asset/ws-pack-5325474inxKWP/c1f952ec53e43.webp) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain;
  width: 100% !important;
  height: calc((100vw - 0.5rem)) !important;
  max-height: 10rem;
}

.event-template-4-mobile img[id='event'] {
  display: none !important;
}

.event-template-4-text table {
  background-color: #ffffff;
  width: 100%;
  padding: 1.25rem;
}

.event-template-4-mobile .event-template-4-text table {
  border: 1px solid #cccccc;
  border-top: none;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.event-template-4-mobile td > p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.event-template-4-mobile h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #ff2b85;
}

.event-template-4-mobile h4 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #ff2b85;
  margin-bottom: 0.75rem;
}

.event-template-4-mobile p > span {
  color: #1367e2;
  text-decoration-line: underline;
}

.event-template-4-desktop {
  display: none;
}

.event-template-5 {
  background-color: #f9d0d4;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.event-template-5-title {
  height: 9rem;
}

.event-template-5-title td {
  padding: 1.25rem;
}

.event-template-5-title h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
}

.event-template-5-title img {
  max-height: 10rem;
}

.event-template-5-text > td {
  background-color: #ffffff;
  padding: 1.25rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.event-template-5-text h3 {
  color: #000095;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.event-template-5-text h3 > span {
  color: #ff2b85;
}

.event-template-5-text p > span {
  color: #ff2b85;
}

.event-template-6-mobile {
  background-color: #ffffff;
  border-radius: 2.5rem;
  margin-bottom: 2rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
}

.event-template-6-title td {
  background-color: #ff2b85;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.event-template-6-title td > h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}

.event-template-6-box td {
  width: 260px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.event-template-6-box td span {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
}

.event-template-6-box td img {
  max-width: 242px;
  max-height: 50vw;
  border-radius: 0.5rem;
}

.event-template-6-box td p {
  font-size: 1rem;
  font-weight: 400;
}

.event-template-6-desktop {
  display: none;
}

.section-wrapper-6 {
  padding: 0 1.75rem 1.75rem;
}

.event-template-7-mobile {
  border-radius: 1.5rem;
  border: 1px solid #cccccc;
}

.event-template-7-mobile .event-template-7-image > td {
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #ffffff;
}

.event-template-7-mobile span[id='event'] {
  display: block;
  background-image: url(https://images.unsplash.com/photo-1640622308069-4352d9b4dcc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=200&q=80) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover;
  width: 100% !important;
  height: calc((100vw - 2.5rem) * 0.66) !important;
  max-height: 330px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.event-template-7-mobile img[id='event'] {
  display: none !important;
}

.event-template-7-text table {
  width: 100%;
  padding: 1.25rem;
}

.event-template-7-text table:first-child {
  padding-bottom: 0;
}

.event-template-7-text table:last-child {
  padding-top: 0;
}

.event-template-7-mobile td > p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.event-template-7-mobile h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #ff2b85;
}

.event-template-7-desktop {
  display: none;
}
