/* Normalized CSS */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  outline: none;
}

body,
input,
select,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: separate;
  border: none;
}

.container {
  width: 100%;
  margin: auto;
}

.main-btn {
  display: inline-block;
  border-radius: 2.5rem;
  height: 3.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.main-btn > p {
  color: #ffffff;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 500;
}

.primary-btn {
  background-color: #ff2b85;
}

.secondary-btn {
  background-color: #e673a3;
}

.section-wrapper-1 {
  padding: 0;
}

.section-container-1 {
  background-color: #ffffff;
  border-radius: 1.5rem;
  margin: auto;
}

.section-container-1 > table:first-child {
  padding: 1.25rem;
}

.nav-text p {
  color: #ff2b85;
  font-weight: 500;
  white-space: nowrap;
}

.nav-text span {
  color: #595757;
  font-size: 0.75rem;
  white-space: nowrap;
}

.nav-hint p {
  display: inline;
  border: 1px solid #1367e2;
  color: #1367e2;
  font-weight: 500;
  padding: 0.5rem;
  height: 42px;
  white-space: nowrap;
}

.section-wrapper-2 {
  background-color: #ff2b85;
  margin: auto;
}

.section-wrapper-2 > table {
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 5rem 0 0;
}

.section-title h3 {
  font-size: 1.75rem;
  font-weight: 300;
  color: #ff2b85;
}

.section-title h1 {
  white-space: nowrap;
  color: #ff2b85;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.5rem;
}

.section-title h3 span {
  font-weight: 700;
}

.price-content {
  width: 260px;
  height: 240px;
  background-size: contain;
  background-repeat: no-repeat;
}

.price-content p {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 700;
}

.price-content span {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.price-content img {
  width: 160px;
  height: 160px;
}

.price-content-desc {
  width: 260px;
  padding-right: 40px;
}

.price-content-desc span,
.price-content-desc p {
  text-align: center;
  white-space: nowrap;
}

.shop-action {
  padding-bottom: 1.75rem;
}

.section-wrapper-3 {
  padding: 1.5rem 0;
  background-color: #eff2f4;
}

.mid-title {
  padding-bottom: 2rem;
}

.mid-title > h3 {
  font-weight: 700;
}

.price-content-lg {
  width: 400px;
  height: 370px;
  background-size: contain;
  background-repeat: no-repeat;
}

.price-content-lg p {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 700;
}

.price-content-lg span {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.price-content-lg img {
  width: 360px;
  height: 300px;
}

.price-content-desc-lg {
  padding: 2rem;
  border-radius: 1.5rem;
}

.price-content-desc-lg span,
.price-content-desc-lg p {
  text-align: center;
}

.price-content-desc-lg p > span {
  font-weight: 500;
  color: #ff2b85;
}

.price-content-desc-lg-top {
  background-color: #ff2b85;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 10px;
}

.price-content-desc-lg-top h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}

.price-content-desc-lg-bottom {
  background-color: #ffffff;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 1.25rem;
}
